VITE_API_URL=https://nexchat-cloud.xaronhost.com/api
# VITE_API_URL=http://localhost:5000/api

VITE_PUBLIC_APP_URL=https://web.nexchat.site
# VITE_PUBLIC_APP_URL=http://localhost:5173

VITE_ONESIGNAL_APP_ID=ba2d847b-b62a-41eb-9814-4b7f1d8a8091
VITE_ONESIGNAL_WEB_APP_ID=ba2d847b-b62a-41eb-9814-4b7f1d8a8091
VITE_ONESIGNAL_WEB_PUSH_ENABLED=true
VITE_ONESIGNAL_SAFARI_WEB_ID=web.onesignal.auto.12f40fc9-13d7-4ca9-8e4a-0a7d50f473bf
VITE_ONESIGNAL_NOTIFY_BUTTON_ENABLED=false
